h1
{
    text-align: center;
}
body
{
    background-image:linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
img
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 13cm;
    height: 13cm;
}
button
{
    background-color: white;
    transition: background-color 0.6s ease;
    border:0.1;
}
button:hover
{
    background-color: skyblue;
}
button:active
{
    background-color: #00ABCF;
    color:white;
}
.two
{
    width: 500px;
    height: 1cm;
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
