h1
{
    text-align: center;
}
img
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 15cm;
    height: 15cm;
}
.two
{
    width: 188px;
    height: 1cm;
    border-radius: 7px;
    background-color: aliceblue;
}
#mater
{
    margin-left: 35%;
}
#noscripttouse
{
    width: 354px;
    height: 1cm;
    border-radius: 7px;
    background-color: aliceblue;
}
