body
{
    background-image:linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
h1
{
    text-align: center;
    font-family: sans-serif;
}
button
{
    background-color: white;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    transition: background-color 0.6s ease;
}
button:hover
{
    background-color: skyblue;
}
button:active
{
    background-color: #00ABCF;
    color:white;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 500px)
{
    button
    {
        width: 96%;
        height: 1.2cm;
        font-size: 120%;
    }
}
@media screen and (min-width: 501px) and (max-width: 1024px)
{
    button
    {
        width: 85%;
        height: 1.3cm;
        font-size: 120%;
    }
}
@media screen and (min-width: 1025px)
{
    button
    {
        width: 50%;
        height: 1.2cm;
        font-size: 95%;
    }
}
