/*body start*/
body
{
    background-image: linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
/*body end*/
/*header start*/
header
{
    background-color: white;
    width: 100%;
    border-radius: 7px;
    height: 1.4cm;
    font-family: sans-serif;
    font-size: 160%;
    /*Gemini Start*/
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Vertically centers the text */
    /*End*/  
    
}
#time
{
    font-family: sans-serif;
    margin-right: 15px;
}
#header_title
{
    margin-left: 15px;
}
/*header end*/
/*siderbar start*/
#sidebar
{
    display: inline;
    width: 2cm;
    height: 15cm;
    background-color: white;
    position: fixed;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-left: 0;
}
button
{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    border-width: 0.1px;
    transition: background-color 0.6s ease;
}
button:hover
{
  background-color: skyblue;
}
button:active
{
    background-color: #00ABCF;
    color:white;
}
#home
{
   top: 95px;
   position: fixed;
   width: 2cm;
   height: 2cm;
   font-family: Sans-Serif;
   font-size: 110%;
}
#BBQ
{
   top: 180.6px;
   position: fixed;
   width: 2cm;
   height: 2cm;
   font-family: Sans-Serif;
   font-size: 110%;
}
#money
{
   top: 266.2px;
   position: fixed;
   width: 2cm;
   height: 2cm;
   font-family: Sans-Serif;
   font-size: 110%;
}
#URL_mater
{
   top: 351.8px;
   position: fixed;
   width: 2cm;
   height: 2cm;
   font-family: Sans-Serif;
   font-size: 110%;
}
/*siderbar end*/
aside
{
    display: inline;
}
main
{
    display: inline;
    margin-left: 200px; /* This pushes the main content to the right of the sidebar */
    padding: 20px;
}

