body
{
    background-image:linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
h1
{
    text-align: center;
}
button
{
    width: 450px;
    height: 450px;
    margin-left: 2%;
    border-radius: 7px;
    background-color: white;
    transition: background-color 0.5s ease;
    font-size: 200%;
    font-family: Sans-Serif;
}
button:hover
{
    background-color: skyblue;
}
button:active
{
    background-color: darkblue;
    color:white;
}
