body
{
    background-image:linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
#header_all
{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 0px 5px;

}
#time
{
    text-align: right;
    display: block;
}
aside
{
    background-color: white;
    width: 1cm;
    height: 10cm;
    border-radius: 5px;
}
@media screen and (max-width: 500px)
{
    #header_all
    {
        grid-template-columns: 1fr;
    }
    #time
    {
        display: none;
    }
}
@media screen and (min-width: 501px) and (max-width: 1024px)
{
    #header_all
    {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1025px)
{
    #header_all
    {
        grid-template-columns: 1fr 1fr;
    }
}
