body
{
    background-image:linear-gradient(to right,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}
h1
{
    text-align: center;
    font-family: sans-serif;
}
button
{
    background-color: white;
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 850px;
    max-width: 900px;
    font-family: sans-serif;
    transition: background-color 0.6s ease;
}
button:hover
{
    background-color: skyblue;
}
button:active
{
    background-color: #00ABCF;
    color:white;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:7cm) {
    .words
    {
        font-size: 200%;
        height: 1.8cm;
    }
}
@media screen and (min-width:10cm) and (max-width:16cm) {
    .words
    {
        font-size: 180%;
        height: 1.5cm;
    }
}
@media screen and (min-width:16.1cm) {
    .words
    {
        font-size: 150%;
        height: 1.2cm;
    }
}
